* {
    box-sizing: border-box;
}

body {
  font-size: 10px;
}

h1 {
  color: #fff;
  font-size: 1.8rem;
  font-family: "source sans pro", sans-serif;
  margin: 1rem;
}

li {
  border-bottom: 1px solid #777C7F;
  font-size: 1.6rem;
  font-family: "source sans pro", sans-serif;
  margin-left: 2rem;
  padding: 1rem 0;
}

#options {
  float: right;
  padding: 0 2rem 1rem 1rem;
}

#header {
  background-color: #3B4254;
  box-shadow: 0 .4rem 1rem #aaa;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.item-input {
  display: none;
}

#list {
  margin-top: 4rem;
}

#footer {
  background-color: #3B4254;
  position: fixed;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-icon {
  margin: 1rem 3rem;
}
